.content-container {

  height: 100%;
  background-color: lightgrey;
  font-size: 10px;
}
.left {
  height: fit-content;
  background-color: rgb(74,182,156);
  color: rgb(250, 242, 232);
  flex :2
}

.right {
  background-color: rgb(74,182,156);
  flex: 5
}
.box {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  padding :20px;
  margin: 10px
}
.row {
  display: flex;
  height: 100%;
}
.logo{
  margin: 10px;
}